<div class="chatroom">
	<div class="chats">
		<% @messages.each do |m| %>
			<div class="message message_<%= m.id %>">
				<h4><%= m.from_user %></h4>
				<p><%= m.text %></p>
			</div>
		<% end %>
	</div>
	<div class="message_form">
		<%= simple_form_for @message, remote: true do |f| %>
			<%= f.input :from_user %>
			<%= f.input :text %>
			<%= f.button :submit %>
		<% end %>
	</div>
</div>

