<div class="">
	<%= render 'form' %>
	<div class="chats">
		<% @messages.each do |m| %>
			<div class="message message_<%= m.id %>">
				<h4><%= m.from_user %></h4>
				<p><%= m.text %></p>
			</div>
		<% end %>
	</div>
	<%= link_to 'View all Messages', chat_history_path %>
</div>

